body {
    margin-top: 0px;
    background-color: #46667a;
}

img {
    position: absolute;
}

#ribbon {
    position: absolute;
    left: 80px;
    background-color: #0d3149;
    width: 40px;
    height: 720px;
}

#interface {
    position: absolute;
    margin-left: 125px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#order-button {
    background-color: #0d3149;
    margin-top: 10px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 12pt;
    text-align: center;
    color: white;
    font-family: "Arial", Helvetica, sans-serif;
}